<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.songpo.dto.ProductDto">
        <id column="productId" jdbcType="VARCHAR" property="productId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
        <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
    </resultMap>
    <resultMap id="RecommendResultMap" type="com.songpo.dto.ProductDto">
        <id column="productId" jdbcType="VARCHAR" property="productId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    </resultMap>
    <resultMap id="ResultMap" type="com.songpo.dto.ProductDto">
        <id column="productId" jdbcType="VARCHAR" property="productId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
        <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
        <result column="collage_price" jdbcType="DECIMAL" property="collagePrice" />
        <result column="personal_price" jdbcType="DECIMAL" property="personalPrice" />
        <result column="price_spike" jdbcType="DECIMAL" property="priceSpike" />
        <result column="weight" jdbcType="DECIMAL" property="weight" />
        <result column="isShip" jdbcType="BIT" property="isship" />
    </resultMap>


    <select id="findGoods" parameterType="String" resultMap="BaseResultMap">
        SELECT
        p.`id` as productId,p.`name`,p.`introduction`,p.image_url,r.`comment_num`,r.`sale_num`,r.`price`,r.pulse
        FROM sl_product p
        LEFT JOIN sl_repository r
        ON p.`id`= r.product_id
        WHERE p.`name` = #{name}
    </select>

    <select id="findRecommendProduct" resultMap="RecommendResultMap">
        select id as productId,image_url,name from sl_product limit 0,5
    </select>



</mapper>

















