<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.mapper.SlProductMapper">
    <resultMap id="BaseResultMap" type="com.songpo.entity.SlProduct">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modification_time" jdbcType="VARCHAR" property="modificationTime"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name, remark, creator, create_time, modifier, modification_time, image_url, introduction,
        detail
    </sql>
</mapper>