<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.mapper.SlRepositoryMapper">
    <resultMap id="BaseResultMap" type="com.songpo.entity.SlRepository">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="discount" jdbcType="DECIMAL" property="discount"/>
        <result column="state" jdbcType="DECIMAL" property="state"/>
        <result column="count" jdbcType="DECIMAL" property="count"/>
        <result column="score" jdbcType="DECIMAL" property="score"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="modification_time" jdbcType="VARCHAR" property="modificationTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, shop_id, product_id, remark, price, discount, state, count, score, creator, create_time,
        modifier, modification_time
    </sql>
</mapper>