<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.songpo.mapper.SlTagNameMapper">
    <select id="selectTagNameByGoodId" resultType="java.lang.String">
    select st.name from sl_tag st
    LEFT JOIN sl_product_type spt ON st.id = spt.tag_id
    LEFT JOIN sl_product sp ON sp.id =spt.parent_id
    LEFT JOIN sl_repository sr on sr.product_id = sp.id
    WHERE sr.count > 0 AND sp.id = #{tagId}
    </select>
</mapper>