<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmProductTypeMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.domain.CmProductType">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tagName" property="tagName" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name, tagName, image_url, parent_id
    </sql>

    <select id="selectAll" resultType="java.util.Map" parameterType="String">
        SELECT
        pt.id, pt.name, t.`name` AS tagName, pt.`image_url` AS imageUrl, pt.parent_id AS parentId
        FROM
        sl_product_type pt
        LEFT JOIN sl_product_type_tags ptt
        ON pt.`id` = ptt.product_type_id
        LEFT JOIN sl_tag t
        ON ptt.product_tag_id = t.id
        <where>
            <if test="null == parentId or parentId == ''">
                ISNULL(pt.parent_id)
            </if>
            <if test="null != parentId and parentId != ''">
                pt.parent_id = #{parentId}
            </if>
        </where>
    </select>
</mapper>