<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmProductMapper">


    <resultMap id="RecommendResultMap" type="com.songpo.searched.domain.ProductDto">
        <id column="productId" jdbcType="VARCHAR" property="productId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
    </resultMap>


    <!-- 根据销售模式查询商品 -->
    <select id="selectBySalesMode" resultType="SlProduct">
        SELECT * FROM sl_product p
        <where>
            <if test="name != null and name != ''">
                <bind name="pName" value="'%' + name + '%'"/>
                AND p.name LIKE #{pName}
            </if>
            <if test="salesMode != null">
                AND p.sales_model = #{salesMode}
            </if>
        </where>
    </select>

    <!-- 根据活动唯一标识符查询商品 -->
    <select id="selectByAction" resultType="slProduct">
        SELECT *
        FROM sl_product p LEFT JOIN sl_activity_product ap ON ap.product_id = p.id
        WHERE ap.action_id = #{actionId}
    </select>

    <!--查询商品前六个 推荐-->
    <select id="findRecommendProduct" resultMap="RecommendResultMap" >
        select id as productId,image_url,name from sl_product limit 0,5
    </select>

    <!--根据分类查询商品 + 商品的筛选 + 根据名称查询-->
    <select id="screenGoods" resultType="Map">
        select
        p.`id` as productId,p.`name`,p.`introduction`,p.image_url,p.product_type_id as
        productTypeId,p.`comment_num`,p.`sales_volume`,p.`reference_price`,p.reference_pulse
        FROM sl_product p
        WHERE 1=1
        <if test="goodsName != null and goodsName != ''">
           and p.`name` like "%"#{goodsName}"%"
        </if>
        <if test="goodsType != null and goodsType !=''">
            AND p.product_type_id = #{goodsType}
        </if>
        <if test="screenType != null and screenType !='' and screenType == 5">
            AND p.sale_Type = 5
        </if>
        <if test="screenType != null and screenType !='' and screenType == 6">
            AND p.sale_Type = 6
        </if>
        <if test="screenType != null and screenType !='' and screenType == 7">
            AND p.sale_Type = 7
        </if>
        <if test="screenType == null and screenType ==''">
            ORDER BY (p.sales_volume + p.comment_num) DESC
        </if>
        <if test="screenType != null and screenType !='' and screenType == 1">
            ORDER BY p.sales_volume DESC
        </if>
        <if test="screenType != null and screenType !='' and screenType == 2">
            ORDER BY p.sales_volume ASC
        </if>
        <if test="screenType != null and screenType !='' and screenType == 3">
            ORDER BY p.reference_price DESC
        </if>
        <if test="screenType != null and screenType !='' and screenType == 4">
            ORDER BY p.reference_price ASC
        </if>


    </select>

    <select id="goodsBaseDetail" parameterType="String" resultType="Map">
        SELECT
        p.id,
        p.name,
        p.introduction,
        r.`sale_num`,
        r.`price`,
        r.pulse,
        r.sale_type,
        r.shop_id,
        r.isShip,
        r.weight
        FROM
        sl_product p
        LEFT JOIN sl_repository r
        ON p.id = r.`product_id`
        WHERE p.id = #{goodsId}
    </select>
    <select id="goodsImageUrl" resultType="Map" parameterType="String">
        SELECT
        p.`id`,spi.image_url,spi.type
        FROM
        sl_product p LEFT JOIN sl_product_image spi
        ON p.id = spi.`product_id`
        where p.id= #{goodsId}
    </select>

</mapper>

















