<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmProductTypeMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.domain.ProductCategoryDto">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="tagName" jdbcType="VARCHAR"/>
        <result column="parentId" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, name, tagName
    </sql>

    <select id="findCategoryByParentId" parameterType="String"
            resultType="com.songpo.searched.domain.ProductCategoryDto">
        select
        t.id as id,t.name as name ,st.name as tagName,t.parent_id as parentId
        FROM sl_product_type t
        left join sl_product_type_tags tt
        on t.tag_id = tt.id
        left join sl_tag st
        on tt.product_tag_id  = st.id
        where t.parent_id = #{id}
    </select>
</mapper>