<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmRedPacketMapper">
    <!--  列表查询用户分享链接-->
    <select id="listByOrderExtendId" resultType="map">
            SELECT
              rp.*
            FROM
              `sl_red_packet` rp
            WHERE rp.`order_extend_id` = #{orderExtendId}
               AND rp.`type` IN (3.4)
    </select>


    <!--  获取红包信息-->
    <select id="findRedByRedType" resultType="map">
            SELECT
              rp.*
            FROM
              `sl_red_packet` rp
            WHERE  rp.`red_packet_type` = 4
    </select>
</mapper>