<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmSharingLinksMapper">
    <!--  列表查询用户分享链接-->
    <select id="listByUserId" resultType="map">
        SELECT temp2.* FROM (
        SELECT
              sl.*,
              IFNULL(temp.counts,0) order_counts,
              sp.`name` product_name,
              sp.`image_url`,
              ap.`price`,
              ap.`awward_money`,
              ap.`activity_id`,
              TIMESTAMPDIFF(SECOND,DATE_SUB(NOW(), INTERVAL 1 DAY),sl.`created_at`) AS plusTime
            FROM
              `sl_sharing_links` sl
              LEFT JOIN
                (SELECT
                  COUNT(id) counts,
                  service_id
                FROM
                  `sl_order_extend` soe
                WHERE soe.`service_type` = 1
                GROUP BY soe.`service_id`
                LIMIT 0, 1000) AS temp
                ON temp.service_id = sl.`id`
              LEFT JOIN `sl_product` sp
                ON sp.id = sl.`product_id`
              LEFT JOIN `sl_activity_product` ap
                ON ap.`product_id` = sp.`id`
            WHERE sp.`sales_mode_id` = 7
              AND sl.`share_person_id` = #{userId}
           ) temp2 WHERE 1=1
            <if test="condition == 1">
                AND  temp2.order_counts = 0 AND temp2.`is_failure` = 2
            </if>
            <if test="condition == 2">
                AND  temp2.order_counts > 0
            </if>
            <if test="condition == 3">
                AND  temp2.order_counts = 0 AND  temp2.`is_failure` = 1
            </if>
             ORDER BY temp2.`created_at` DESC
    </select>
  <!-- 查询商品,模式 活动 分类 名称 ; 智能排序以及各种排序 -->

  <select id="selectBySharingLinks" resultType="map">
    SELECT
    p.name,
    p.image_url,
    p.comment_num,
    p.postage,
    p.ship,
    p.sales_volume,
    p.`sales_mode_id`,
    p.`introduction`,
    pt.name product_type_name,
    p.sales_virtual,
    UNIX_TIMESTAMP(ap.end_time)-unix_timestamp(now()) as plusTime ,
    s.name shopName,
    ap.*
    FROM
    sl_product p
    LEFT JOIN sl_activity_product ap
    ON p.id = ap.`product_id`
    LEFT JOIN sl_shop s
    ON p.`shop_id` = s.`id`
    LEFT JOIN sl_product_type pt
    ON p.product_type_id = pt.id
    <where>
      p.sold_out = 1
      and ap.enabled = 1
      and p.del = 0
      AND ap.end_time>NOW()
      <if test="salesModeId != '' and salesModeId != null">
        AND p.sales_mode_id = #{salesModeId}
      </if>
      <if test="activityId != '' and activityId != null ">
        and ap.activity_id = #{activityId}
      </if>
      <if test="goodsTypeId !='' and goodsTypeId != null and goodsTypeStatus ==2 ">
        and p.product_type_id = #{goodsTypeId}
      </if>
      <if test="goodsTypeId !='' and goodsTypeId != null and goodsTypeStatus ==1 ">
        and pt.parent_id = #{goodsTypeId}
      </if>

      <!-- 如果经纬度不为空，则选择经纬度加指定值范围内的店铺 -->
      <if test="null != longitudeMin and null != longitudeMax and null != latitudeMin and null != latitudeMax">
        AND s.longitude BETWEEN #{longitudeMin} - 10 AND #{longitudeMax}
        AND s.latitude BETWEEN #{latitudeMin} - 10 AND #{latitudeMax}
      </if>
      <!-- 如果价格区间最小值不为空，最大值为空，则选择商品价格大于或等于价格区间最小值 -->
      <if test="null != priceMin and null == priceMax">
        AND ap.price &gt;= #{priceMin}
      </if>
      <!-- 如果价格区间最大值不为空，最小值为空，则选择商品价格小于或等于价格区间最大值 -->
      <if test="null == priceMin and null != priceMax">
        AND ap.price &lt;= #{priceMax}
      </if>
      <!-- 如果价格区间最小值不为空，最大值不为空，则选择商品价格大于价格区间最小值和小于价格区间最大值 -->
      <if test="null != priceMin and null != priceMax">
        AND ap.price BETWEEN #{priceMin} AND #{priceMax}
      </if>
      <if test="addressNow!=''and addressNow !=null">
        <bind name="pAddress" value="'%' + addressNow + '%'"/>
        AND s.address like #{pAddress}
      </if>
    </where>
    <!-- 动态拼接排序规则，自动取出多余的逗号-->
    <trim prefix="ORDER BY" suffixOverrides=",">
      <if test="sortByPrice != ''">
        ap.price ${sortByPrice},
      </if>
      <if test="sortByCount != ''">
        ap.count ${sortByCount},
      </if>
      <if test="sortByAward != ''">
        ap.awward_money ${sortByAward},
      </if>
      <if test="sortBySale != ''">
        p.sales_virtual ${sortBySale},
      </if>
      <if test="synthesize != '' and synthesize != null">
        (p.sales_virtual + p.comment_num) DESC,
      </if>
      <!--<if test="addressNow!=''and addressNow !=null  ">
          <bind name="pAddress" value="'%' + addressNow + '%'"/>
          s.address like #{pAddress},s.longitude ASC ,s.latitude ASC , p.comment_num DESC ,p.sales_virtual DESC
      </if>-->
      <if test="sortByPrice=='' and  sortBySale=='' and synthesize==null and sortByCount=='' and sortByAward=='' ">
        p.sales_virtual DESC
      </if>

    </trim>
  </select>

  <!-- 根据红包结果状态 查询红包信息-->
  <select id="selectRedPacketByResult" resultType="map">
      SELECT
      srp.red_packet_type,
      srp.result,
      u.id userId,
      u.username ,
      u.nick_name,
      sp.`name` ,
      sl.is_failure,
      srp.money,
      rpd.create_time,
      srp.id red_packet_id,
      so.id orderId
      FROM
      sl_red_packet srp
      LEFT JOIN sl_red_packet_detail rpd ON srp.id = red_packet_id
      LEFT JOIN sl_order_extend soe ON srp.order_extend_id = soe.id
      LEFT JOIN sl_order so ON soe.order_id = so.id
      LEFT JOIN sl_sharing_links sl ON sl.id = soe.service_id
      LEFT JOIN sl_product sp ON sl.product_id = sp.id
      LEFT JOIN sl_user u ON so.user_id = u.id
    <where>
      srp.user_id = #{userId}
      <choose>
        <when test="result == '' or result == null ">
          and srp.result in (4,5,6)
        </when>
        <otherwise>
          and srp.result = #{result}
        </otherwise>
      </choose>
    </where>
  </select>

  <!-- 获取红包数 已领红包金额-->
  <select id="selectRedByUserId" resultType="map">
   SELECT count(rp.id) AS redNum, ifnull(sum(CASE rp.result WHEN 6 THEN rp.money ELSE 0 END),0)AS moneyNum
   FROM sl_red_packet rp
   WHERE rp.result in (4,5,6)
   and  rp.user_id = #{userId}
  </select>

  <!-- 查询我的分享以及详情-->
  <select id="selectShareList" resultType="map">
      SELECT
      od.product_name productName,
      od.price price,
      od.quantity quantity,
      suu.nick_name AS buyUser,
      so.total_amount totalAmount,
      sb.`name` paymentName,
      od.shipping_state shippingState,
      od.type type,
      so.id orderId,
      rp.money money,
      so.pay_time payTime
      FROM
      sl_order_extend oe
      LEFT JOIN sl_sharing_links sl ON oe.service_id = sl.id
      LEFT JOIN sl_order_detail od ON oe.order_id = od.order_id
      LEFT JOIN sl_order so ON oe.order_id = so.id
      LEFT JOIN sl_base_payment sb ON sb.id = so.payment_channel
      LEFT JOIN sl_product sp ON sl.product_id = sp.id
      LEFT JOIN sl_activity_product ap ON sp.id = ap.`product_id`
      LEFT JOIN sl_user suu ON so.user_id = suu.id
      LEFT JOIN sl_red_packet rp ON oe.id = rp.order_extend_id
  <where>
      suu.id = #{userId}
      <if test="shareId != '' and shareId != null ">
          and sl.id= #{shareId}
      </if>
      AND rp.red_packet_type=4
  </where>
  </select>

    <!-- 查询查询一个分享获取的佣金-->
    <select id="selectShareMoney" resultType="map">
        SELECT
          sum(rp.money) sumMoney
        FROM sl_sharing_links sl
        LEFT JOIN sl_user su ON sl.share_person_id=su.id
        LEFT JOIN sl_order_extend oe ON sl.id=oe.service_id
        LEFT JOIN sl_red_packet rp ON oe.id=rp.order_extend_id
        <where>
            sl.share_person_id = #{userId}
            <if test="shareId != '' and shareId != null ">
                and sl.id= #{shareId}
            </if>
        </where>
        AND rp.red_packet_type=4
    </select>

</mapper>