<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmSharingLinksMapper">
    <!--  列表查询用户分享链接-->
    <select id="listByUserId" resultType="map">
            SELECT
              sl.*,
              IFNULL(temp.counts,0) order_counts,
              sp.`name` product_name,
              sp.`image_url`,
              ap.`price`,
              ap.`awward_money`
            FROM
              `sl_sharing_links` sl
              LEFT JOIN
                (SELECT
                  COUNT(id) counts,
                  service_id
                FROM
                  `sl_order_extend` soe
                WHERE soe.`service_type` = 1
                GROUP BY soe.`service_id`
                LIMIT 0, 1000) AS temp
                ON temp.service_id = sl.`id`
              LEFT JOIN `sl_product` sp
                ON sp.id = sl.`product_id`
              LEFT JOIN `sl_activity_product` ap
                ON ap.`product_id` = sp.`id`
            WHERE sp.`sales_mode_id` = 7
              AND sl.`share_person_id` = #{userId}
             ORDER BY sl.`created_at` DESC
    </select>
</mapper>