<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.CmSlbTransactionMapper">
    <resultMap id="SlbTransaction" type="com.songpo.searched.entity.SlSlbTransaction">

        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
        <result column="target_id" jdbcType="VARCHAR" property="targetId" />
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="slb_type" jdbcType="INTEGER" property="slbType" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="slb" jdbcType="DECIMAL" property="slb" />
        <result column="transaction_type" jdbcType="INTEGER" property="transactionType" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>

    <!--查询网页注册的用户搜了贝-->
    <select id="selectSlb" resultMap="SlbTransaction">
      SELECT * FROM sl_slb_transaction WHERE slb =1
    </select>

</mapper>

















