<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.JPositionCityMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.entity.JPositionCity">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="province_id" jdbcType="INTEGER" property="provinceId"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="city_name" jdbcType="CHAR" property="cityName"/>
    </resultMap>
</mapper>