<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.JPositionCountyMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.entity.JPositionCounty">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="county_id" jdbcType="BIGINT" property="countyId"/>
        <result column="county_name" jdbcType="CHAR" property="countyName"/>
    </resultMap>
</mapper>