<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.JPositionTownMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.entity.JPositionTown">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="county_id" jdbcType="BIGINT" property="countyId"/>
        <result column="town_id" jdbcType="BIGINT" property="townId"/>
        <result column="town_name" jdbcType="CHAR" property="townName"/>
    </resultMap>
</mapper>