<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.JPositionMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.entity.JPosition">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="province_id" jdbcType="BIGINT" property="provinceId"/>
        <result column="province_name" jdbcType="CHAR" property="provinceName"/>
        <result column="city_id" jdbcType="BIGINT" property="cityId"/>
        <result column="city_name" jdbcType="CHAR" property="cityName"/>
        <result column="county_id" jdbcType="BIGINT" property="countyId"/>
        <result column="county_name" jdbcType="CHAR" property="countyName"/>
        <result column="town_id" jdbcType="BIGINT" property="townId"/>
        <result column="town_name" jdbcType="CHAR" property="townName"/>
        <result column="village_id" jdbcType="BIGINT" property="villageId"/>
        <result column="village_name" jdbcType="CHAR" property="villageName"/>
    </resultMap>
</mapper>