<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlActivityProductMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlActivityProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="serial_number" jdbcType="VARCHAR" property="serialNumber"/>
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="begin_time" jdbcType="VARCHAR" property="beginTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="people_num" jdbcType="INTEGER" property="peopleNum" />
      <result column="orders_num" jdbcType="INTEGER" property="ordersNum"/>
      <result column="surplus_product_count" jdbcType="INTEGER" property="surplusProductCount"/>
      <result column="peas" jdbcType="INTEGER" property="peas"/>
      <result column="award_peas_counts" jdbcType="DOUBLE" property="awardPeasCounts"/>
      <result column="awward_money" jdbcType="DOUBLE" property="awwardMoney"/>
      <result column="enabled" jdbcType="BIT" property="enabled"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, serial_number, activity_id, price, begin_time, end_time, count, people_num, orders_num,
      surplus_product_count, peas, award_peas_counts, awward_money, enabled
  </sql>
</mapper>