<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlActivitySeckillMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlActivitySeckill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_old_id" jdbcType="VARCHAR" property="productOldId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="total_count_no_change" jdbcType="INTEGER" property="totalCountNoChange" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_old_id, product_id, start_time, end_time, seckill_price, total_count, 
    total_count_no_change, enable, create_at, update_at
  </sql>
</mapper>