<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlAdminUserMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlAdminUser">
    <!--
      WARNING - @mbg.generated
    -->
      <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="login_ip" jdbcType="CHAR" property="loginIp" />
    <result column="login_time" jdbcType="INTEGER" property="loginTime" />
    <result column="last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="last_time" jdbcType="INTEGER" property="lastTime" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="group_id" jdbcType="SMALLINT" property="groupId" />
    <result column="section_id" jdbcType="SMALLINT" property="sectionId" />
    <result column="checked" jdbcType="BIT" property="checked" />
    <result column="login_total" jdbcType="INTEGER" property="loginTotal" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, username, password, email, phone, qq, login_ip, login_time, last_ip, last_time, 
    create_time, group_id, section_id, checked, login_total
  </sql>
</mapper>