<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlAfterSaleServiceVoucherrImageMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlAfterSaleServiceVoucherrImage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="after_sales_service_id" jdbcType="VARCHAR" property="afterSalesServiceId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, after_sales_service_id, image_url
  </sql>
</mapper>