<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlAgentApplicationMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlAgentApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
      <result column="town" jdbcType="VARCHAR" property="town"/>
      <result column="street" jdbcType="VARCHAR" property="street"/>
      <result column="other_address" jdbcType="VARCHAR" property="otherAddress"/>
      <result column="level" jdbcType="INTEGER" property="level"/>
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="id_card_number" jdbcType="VARCHAR" property="idCardNumber"/>
    <result column="id_card_front_image_url" jdbcType="VARCHAR" property="idCardFrontImageUrl" />
    <result column="id_card_back_image_url" jdbcType="VARCHAR" property="idCardBackImageUrl" />
    <result column="id_card_hand_image_url" jdbcType="VARCHAR" property="idCardHandImageUrl" />
    <result column="agent_check_state" jdbcType="TINYINT" property="agentCheckState" />
    <result column="agent_create_time" jdbcType="VARCHAR" property="agentCreateTime" />
    <result column="agent_check_time" jdbcType="VARCHAR" property="agentCheckTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, user_id, province, city, county, town, street, other_address, level, real_name,
      phone, id_card_number, id_card_front_image_url, id_card_back_image_url, id_card_hand_image_url,
      agent_check_state, agent_create_time, agent_check_time
  </sql>
</mapper>