<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlArticleMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="art_sort" jdbcType="INTEGER" property="artSort"/>
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="praise_count" jdbcType="INTEGER" property="praiseCount" />
    <result column="reference_url" jdbcType="VARCHAR" property="referenceUrl" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.songpo.searched.entity.SlArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, art_sort, title, image_url, read_count, praise_count, reference_url, add_time,
      type, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    content
  </sql>
</mapper>