<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlBoonMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlBoon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="result" jdbcType="TINYINT" property="result" />
    <result column="mock_join_people_number" jdbcType="INTEGER" property="mockJoinPeopleNumber" />
    <result column="fact_join_people_number" jdbcType="INTEGER" property="factJoinPeopleNumber" />
    <result column="rule_declaration" jdbcType="VARCHAR" property="ruleDeclaration" />
    <result column="is_wheel_sowing" jdbcType="TINYINT" property="isWheelSowing" />
    <result column="one_draw_count" jdbcType="INTEGER" property="oneDrawCount" />
    <result column="day_draw_count" jdbcType="INTEGER" property="dayDrawCount" />
    <result column="new_user_free_draw_count" jdbcType="INTEGER" property="newUserFreeDrawCount" />
    <result column="collect_money" jdbcType="INTEGER" property="collectMoney" />
    <result column="level_id" jdbcType="VARCHAR" property="levelId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, type, result, mock_join_people_number, fact_join_people_number, rule_declaration, 
    is_wheel_sowing, one_draw_count, day_draw_count, new_user_free_draw_count, collect_money, 
    level_id, create_time, end_time, update_time
  </sql>
</mapper>