<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlDevelopRuleMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlDevelopRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="var" jdbcType="VARCHAR" property="var" />
    <result column="rule" jdbcType="VARCHAR" property="rule" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, var, rule
  </sql>
</mapper>