<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlDistrictStreetMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlDistrictStreet">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code" jdbcType="BIGINT" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area_code" jdbcType="BIGINT" property="areaCode" />
    <result column="province_code" jdbcType="BIGINT" property="provinceCode" />
    <result column="city_code" jdbcType="BIGINT" property="cityCode" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    code, name, area_code, province_code, city_code, created_at, updated_at
  </sql>
</mapper>