<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlFriendAddMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlFriendAdd">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="friend_id" jdbcType="VARCHAR" property="friendId"/>
        <result column="result" jdbcType="BIT" property="result"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, user_id, friend_id, result, message, add_time, edit_time
    </sql>
</mapper>