<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlFriendMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlFriend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="friend_id" jdbcType="VARCHAR" property="friendId" />
    <result column="friend_nickname" jdbcType="VARCHAR" property="friendNickname" />
    <result column="friend_status" jdbcType="BIT" property="friendStatus" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, friend_id, friend_nickname, friend_status, add_time
  </sql>
</mapper>