<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlMemberLevelGiftMapper">
    <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlMemberLevelGift">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="level_id" jdbcType="VARCHAR" property="levelId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="image_url" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="descriptional" jdbcType="VARCHAR" property="descriptional"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, level_id, name, image_url, descriptional
    </sql>
</mapper>