<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlMemberMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
      <result column="level" jdbcType="INTEGER" property="level"/>
      <result column="exp" jdbcType="INTEGER" property="exp"/>
    <result column="is_push" jdbcType="BIT" property="isPush" />
      <result column="creater" jdbcType="VARCHAR" property="creater"/>
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, user_id, level, exp, is_push, creater, create_time
  </sql>
</mapper>