<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlMessageMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="target_name" jdbcType="VARCHAR" property="targetName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="read" jdbcType="INTEGER" property="read" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="read_time" jdbcType="VARCHAR" property="readTime" />
      <result column="channel_type" jdbcType="INTEGER" property="channelType"/>
      <result column="message_type" jdbcType="INTEGER" property="messageType"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, source_id, source_name, target_id, target_name, content, read, create_time, read_time,
      channel_type, message_type
  </sql>
</mapper>