<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlOrderDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="repository_id" jdbcType="VARCHAR" property="repositoryId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="quantity" jdbcType="VARCHAR" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="deduct_total_silver" jdbcType="INTEGER" property="deductTotalSilver" />
    <result column="deduct_total_gold" jdbcType="INTEGER" property="deductTotalGold" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modification_time" jdbcType="VARCHAR" property="modificationTime" />
    <result column="post_fee" jdbcType="DECIMAL" property="postFee" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_id, shop_id, repository_id, product_id, quantity, price, deduct_total_silver, 
    deduct_total_gold, discount, creator, create_time, modifier, modification_time, post_fee
  </sql>
</mapper>