<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlOrderMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="deduct_total_pulse" jdbcType="INTEGER" property="deductTotalPulse" />
    <result column="payment_state" jdbcType="DECIMAL" property="paymentState" />
    <result column="payment_channel" jdbcType="INTEGER" property="paymentChannel" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
      <result column="pay_time_stamp" jdbcType="BIGINT" property="payTimeStamp"/>
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="consigneeName" jdbcType="VARCHAR" property="consigneename" />
    <result column="consigneePhone" jdbcType="VARCHAR" property="consigneephone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="detailed" jdbcType="VARCHAR" property="detailed" />
    <result column="spell_group_status" jdbcType="INTEGER" property="spellGroupStatus" />
    <result column="group_master" jdbcType="VARCHAR" property="groupMaster" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="activity_product_id" jdbcType="VARCHAR" property="activityProductId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, serial_number, user_id, total_amount, deduct_total_pulse, payment_state, payment_channel,
      pay_time, pay_time_stamp, status, consigneeName, consigneePhone, province, city,
      county, detailed, spell_group_status, group_master, create_time, updated_at, activity_product_id,
      created_at, remark, type, fee
  </sql>
</mapper>