<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlOrderMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="payment_state" jdbcType="DECIMAL" property="paymentState" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="payment_channel" jdbcType="INTEGER" property="paymentChannel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="deduct_total_pulse" jdbcType="INTEGER" property="deductTotalPulse" />
    <result column="consigneeName" jdbcType="VARCHAR" property="consigneename" />
    <result column="consigneePhone" jdbcType="VARCHAR" property="consigneephone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="detailed" jdbcType="VARCHAR" property="detailed" />
    <result column="spell_group_status" jdbcType="INTEGER" property="spellGroupStatus" />
    <result column="group_master" jdbcType="VARCHAR" property="groupMaster" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, serial_number, user_id, total_amount, fee, payment_state, type, payment_channel, 
    remark, create_time, pay_time, status, deduct_total_pulse, consigneeName, consigneePhone, 
    province, city, county, detailed, spell_group_status, group_master
  </sql>
</mapper>