<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlPartnerPicMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlPartnerPic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="pp_partner_id" jdbcType="VARCHAR" property="ppPartnerId" />
    <result column="partner_pic" jdbcType="VARCHAR" property="partnerPic" />
    <result column="partner_class" jdbcType="TINYINT" property="partnerClass" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, pp_partner_id, partner_pic, partner_class, created_at, updated_at
  </sql>
</mapper>