<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlPhoneZoneMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlPhoneZone">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobileArea" jdbcType="INTEGER" property="mobilearea" />
    <result column="zone" jdbcType="VARCHAR" property="zone" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, mobileArea, zone
  </sql>
</mapper>