<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="product_type_id" jdbcType="VARCHAR" property="productTypeId" />
    <result column="sold_out" jdbcType="BIT" property="soldOut" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="reference_pulse" jdbcType="INTEGER" property="referencePulse" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="sales_mode_id" jdbcType="VARCHAR" property="salesModeId" />
    <result column="min_price" jdbcType="DECIMAL" property="minPrice" />
    <result column="presell_shipments_days" jdbcType="INTEGER" property="presellShipmentsDays" />
    <result column="return_money" jdbcType="DECIMAL" property="returnMoney" />
    <result column="return_pulse" jdbcType="INTEGER" property="returnPulse" />
    <result column="group_people" jdbcType="INTEGER" property="groupPeople" />
    <result column="reward_value" jdbcType="DOUBLE" property="rewardValue" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="restrict_count" jdbcType="INTEGER" property="restrictCount" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
      <result column="group_price" jdbcType="DECIMAL" property="groupPrice"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, name, remark, image_url, introduction, detail, product_type_id, sold_out, comment_num,
      sales_volume, reference_price, reference_pulse, shop_id, sales_mode_id, min_price,
      presell_shipments_days, return_money, return_pulse, group_people, reward_value, creator,
      create_time, restrict_count, recommend, group_price
  </sql>
</mapper>