<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product_number" jdbcType="INTEGER" property="productNumber" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="product_type_id" jdbcType="VARCHAR" property="productTypeId" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="sales_mode_id" jdbcType="VARCHAR" property="salesModeId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="pro_check_time" jdbcType="VARCHAR" property="proCheckTime" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="postage" jdbcType="DECIMAL" property="postage" />
    <result column="sold_out" jdbcType="BIT" property="soldOut" />
    <result column="ship" jdbcType="BIT" property="ship" />
    <result column="antistop" jdbcType="VARCHAR" property="antistop" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.songpo.searched.entity.SlProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, product_number, image_url, introduction, product_type_id, comment_num, 
    sales_volume, shop_id, sales_mode_id, creator, create_time, pro_check_time, recommend, 
    postage, sold_out, ship, antistop, reason, remark, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    detail
  </sql>
</mapper>