<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlPresellReturnedRecordMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlPresellReturnedRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="returned_money" jdbcType="DECIMAL" property="returnedMoney" />
    <result column="returned_number" jdbcType="INTEGER" property="returnedNumber" />
    <result column="returned_num" jdbcType="INTEGER" property="returnedNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_id, shop_id, returned_money, returned_number, returned_num
  </sql>
</mapper>