<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlPresellReturnedRecordMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlPresellReturnedRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_repository_id" jdbcType="VARCHAR" property="productRepositoryId" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="returned_money" jdbcType="DECIMAL" property="returnedMoney" />
    <result column="returned_number" jdbcType="INTEGER" property="returnedNumber" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="award_year" jdbcType="CHAR" property="awardYear" />
    <result column="everyday_money" jdbcType="DECIMAL" property="everydayMoney" />
    <result column="number_of_periods" jdbcType="INTEGER" property="numberOfPeriods" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, product_id, product_repository_id, shop_id, returned_money, returned_number, 
    create_time, type, award_year, everyday_money, number_of_periods
  </sql>
</mapper>