<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductCategoryMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProductCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="category_image_url" jdbcType="VARCHAR" property="categoryImageUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, category_name, short_name, pid, level, sort, category_image_url, create_time, 
    update_time
  </sql>
</mapper>