<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductRepositoryMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProductRepository">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_image_url" jdbcType="VARCHAR" property="productImageUrl" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_detail_group_name" jdbcType="VARCHAR" property="productDetailGroupName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="product_profit_ratio" jdbcType="REAL" property="productProfitRatio" />
    <result column="product_profit_money" jdbcType="DECIMAL" property="productProfitMoney" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="personal_price" jdbcType="DECIMAL" property="personalPrice" />
    <result column="return cash_ratio" jdbcType="REAL" property="returnCashRatio" />
    <result column="return cash_money" jdbcType="DECIMAL" property="returnCashMoney" />
    <result column="post_fee" jdbcType="DECIMAL" property="postFee" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="state" jdbcType="DECIMAL" property="state" />
    <result column="count" jdbcType="DECIMAL" property="count" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="ship" jdbcType="BIT" property="ship" />
    <result column="gold" jdbcType="INTEGER" property="gold" />
    <result column="silver" jdbcType="INTEGER" property="silver" />
    <result column="place_order_return_pulse" jdbcType="INTEGER" property="placeOrderReturnPulse" />
    <result column="return pulse_ratio" jdbcType="REAL" property="returnPulseRatio" />
    <result column="rebate_pulse" jdbcType="INTEGER" property="rebatePulse" />
    <result column="rewards_money" jdbcType="DECIMAL" property="rewardsMoney" />
    <result column="rewards_money_ratio" jdbcType="REAL" property="rewardsMoneyRatio" />
      <result column="first_order_pulse" jdbcType="INTEGER" property="firstOrderPulse"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, shop_id, product_name, product_image_url, product_id, product_detail_group_name, 
    remark, product_profit_ratio, product_profit_money, price, personal_price, `return cash_ratio`, 
    `return cash_money`, post_fee, discount, reference_price, state, count, score, cost_price,
      weight, ship, gold, silver, place_order_return_pulse, `return pulse_ratio`, rebate_pulse,
      rewards_money, rewards_money_ratio, first_order_pulse
  </sql>
</mapper>