<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductRepositoryMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProductRepository">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_detail_group_serial_number" jdbcType="VARCHAR" property="productDetailGroupSerialNumber" />
    <result column="product_detail_group_name" jdbcType="VARCHAR" property="productDetailGroupName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="post_fee" jdbcType="DECIMAL" property="postFee" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="state" jdbcType="DECIMAL" property="state" />
    <result column="count" jdbcType="DECIMAL" property="count" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="collage_price" jdbcType="DECIMAL" property="collagePrice" />
    <result column="personal_price" jdbcType="DECIMAL" property="personalPrice" />
    <result column="price_spike" jdbcType="DECIMAL" property="priceSpike" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="isShip" jdbcType="BIT" property="isship" />
    <result column="pulse" jdbcType="INTEGER" property="pulse" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
    <result column="sale_type" jdbcType="INTEGER" property="saleType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, shop_id, product_id, product_detail_group_serial_number, product_detail_group_name, 
    remark, price, post_fee, discount, state, count, score, reference_price, cost_price, 
    collage_price, personal_price, price_spike, weight, isShip, pulse, comment_num, sale_num, 
    sale_type
  </sql>
</mapper>