<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductSaleModeOrderCountMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProductSaleModeOrderCount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="sales_mode_id" jdbcType="VARCHAR" property="salesModeId" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, shop_id, product_id, sales_mode_id, count
  </sql>
</mapper>