<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlProductMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="product_type_id" jdbcType="VARCHAR" property="productTypeId" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="sales_mode_id" jdbcType="VARCHAR" property="salesModeId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="sold_out" jdbcType="BIT" property="soldOut" />
    <result column="antistop" jdbcType="VARCHAR" property="antistop" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, remark, image_url, introduction, detail, product_type_id, comment_num, 
    sales_volume, shop_id, sales_mode_id, creator, create_time, recommend, sold_out, 
    antistop, reason
  </sql>
</mapper>