<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlRepositoryMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlRepository">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="specification_id" jdbcType="VARCHAR" property="specificationId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="state" jdbcType="DECIMAL" property="state" />
    <result column="count" jdbcType="DECIMAL" property="count" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modification_time" jdbcType="VARCHAR" property="modificationTime" />
    <result column="reference_price" jdbcType="DECIMAL" property="referencePrice" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="collage_price" jdbcType="DECIMAL" property="collagePrice" />
    <result column="personal_price" jdbcType="DECIMAL" property="personalPrice" />
    <result column="price_spike" jdbcType="DECIMAL" property="priceSpike" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="isShip" jdbcType="BIT" property="isship" />
    <result column="pulse" jdbcType="INTEGER" property="pulse" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
    <result column="sale_type" jdbcType="INTEGER" property="saleType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, shop_id, product_id, specification_id, remark, price, discount, state, count, 
    score, creator, create_time, modifier, modification_time, reference_price, cost_price, 
    collage_price, personal_price, price_spike, weight, isShip, pulse, comment_num, sale_num, 
    sale_type
  </sql>
</mapper>