<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlRedPacketMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlRedPacket">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="surplus_money" jdbcType="DECIMAL" property="surplusMoney" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="surplus_count" jdbcType="INTEGER" property="surplusCount" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="result" jdbcType="BIT" property="result" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="timed_time" jdbcType="TIMESTAMP" property="timedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, money, surplus_money, count, surplus_count, type, result, create_time, 
    end_time, timed_time
  </sql>
</mapper>