<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlSharingLinksMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlSharingLinks">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="share_person_id" jdbcType="VARCHAR" property="sharePersonId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="is_failure" jdbcType="TINYINT" property="isFailure" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, share_person_id, product_id, is_failure, created_at, updated_at
  </sql>
</mapper>