<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlSystemLogsMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlSystemLogs">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="type" jdbcType="BIT" property="type" />
      <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
      <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.songpo.searched.entity.SlSystemLogs">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
      id, create_time, title, action, username, userid, type, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    content
  </sql>
</mapper>