<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlTransactionDetailMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlTransactionDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="red_packet_id" jdbcType="VARCHAR" property="redPacketId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="coin" jdbcType="INTEGER" property="coin" />
    <result column="silver" jdbcType="INTEGER" property="silver" />
    <result column="deal_type" jdbcType="INTEGER" property="dealType" />
    <result column="transaction_type" jdbcType="INTEGER" property="transactionType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, source_id, target_id, red_packet_id, order_id, type, money, coin, silver, deal_type, 
    transaction_type, create_time, created_at, updated_at
  </sql>
</mapper>