<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlUserMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="card_type" jdbcType="BIT" property="cardType" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="describtion" jdbcType="VARCHAR" property="describtion" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modification_time" jdbcType="VARCHAR" property="modificationTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="group_var" jdbcType="TINYINT" property="groupVar" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, username, password, pay_password, nick_name, name, card_type, card_number, sex, 
    birthday, phone, email, avatar, secret, describtion, creator, create_time, modifier, 
    modification_time, address, industry, group_var
  </sql>
</mapper>