<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songpo.searched.mapper.SlVideoCopyMapper">
  <resultMap id="BaseResultMap" type="com.songpo.searched.entity.SlVideoCopy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="vc_username" jdbcType="INTEGER" property="vcUsername" />
    <result column="vc_url" jdbcType="VARCHAR" property="vcUrl" />
    <result column="vc_duration" jdbcType="VARCHAR" property="vcDuration" />
    <result column="vc_start" jdbcType="INTEGER" property="vcStart" />
    <result column="vc_end" jdbcType="INTEGER" property="vcEnd" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, vc_username, vc_url, vc_duration, vc_start, vc_end, created_at, updated_at
  </sql>
</mapper>